* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
}

p {
    color: white;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(48, 153, 210, 0.2), rgba(0, 0, 0, .6)), url('../images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding-top: 60px;
    border-bottom: 1px solid #3d73e0;
}

.banner .banner-content {
    color: white;
    text-align: center;
    width: 600px;
    margin: auto;
}

.banner .logo {
    width: 260px;
    height: 260px;
    margin: auto;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 16px;
}

.banner .logo img {
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: contain;
}

.banner h1 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 16px;
    text-transform: uppercase;
    color: transparent;
    background: -webkit-linear-gradient(#2da3d6, #3d73e0);
    -webkit-background-clip: text;
    background-clip: text;
}

.banner p {
    font-size: 1.2rem;
    margin: 16px 0 24px;
}

.banner .banner-content button {
    color: #31a8db;
    font-size: 1rem;
    font-weight: bold;
    padding: 16px 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
    border: 2px solid;
    background-color: transparent;
    border-image-source: linear-gradient(#31a8dd,#2777b5);
    border-image-slice: 10;
    border-radius: 30px;    
}

#course-content {
    width: 800px;
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 24px;
    color: #31a8db;
    letter-spacing: 4px;
    text-transform: uppercase;
}

section {
    margin: 100px auto;
}

#course-conten .modules-list {
    margin: 24px 0;
}

#course-content .modules-list .module {
    color: white;
    width: 530px;
    margin: 0 auto 24px;
    padding: 16px;
    border: 1px solid #3d73e0;
    border-radius: 100px;
    box-shadow: inset -5px 6px 8px rgba(0, 0, 0, .7);
    background-color: #252525;
}

#course-content .modules-list .module span {
    color: #31a8db;
}

#transform-world {
    height: 560px;
    background-size: cover;
    background-image: url('../images/woman-code.png');
    background-attachment: fixed;
    border-top: 1px solid #3d73e0;
    border-bottom: 1px solid #3d73e0;
    padding: 200px;
}

#transform-world p {
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: lowercase;
    max-width: 250px;
    text-shadow: 3px 2px #31a8db;
}

#professional-challenges {
    text-align: center;
    width: 800px;
}

#professional-challenges img {
    margin: 32px 0;
}

footer {
    padding: 60px 0;
    text-align: center;
    background-image: linear-gradient(rgba(50,168,219,.0), rgba(50,168,219,.2));
    border-top: 1px solid #3d73e0;
}

footer .dio-logo {
    width: 300px;
}

footer a {
    color: #31a8db;
    text-decoration: none;
    font-weight: bold;
}


/* Para telas menores que 1024px */
@media (max-width: 1024px) {
  body {
    padding: 10px;
  }
}

/* Para tablets e telas menores que 768px */
@media (max-width: 768px) {
  .container, .main, .section {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

/* Para celulares (menor que 480px) */
@media (max-width: 480px) {
  h1, h2, h3 {
    font-size: 1.2em;
  }
  nav, .menu {
    flex-direction: column;
    align-items: flex-start;
  }
}